main{
    text-align: center;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo{
    font-family: sans-serif;
    font-size: 50px;
}

#container{
    transition: 1s;
    margin: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid black;
}

img{
    height: 100%;
    width: 100%;
}
